<header class="bg-logo text-center">
  <img class="headerImg img-fluid" src="assets/images/jailLogo.png">
  <img *ngIf="isLoggedUser && isAlarm!== undefined && isAlarm === true" (click)="deactivatedAlarm()"  title="Kliknij aby zatrzymać" class="alarm alarm-active" src="http://www.przedszkole17zory.pl/alarm.gif" />
  <img *ngIf="isLoggedUser && isAlarm!== undefined && isAlarm === false" (click)="activateAlarm()" title="Kliknij aby uruchomić" class="alarm" src="./../../../assets/images/alarm.png" />
</header>
