<app-site-header [childMessage]="headerOfSite"></app-site-header>
<div class="container-fluid">
  <div class="row my-4">
    <div class="col-md-4 offset-md-4 py-2 bg-content-mid text-center">
      <h2>{{prisoner.FirstName}} {{prisoner.LastName}}</h2>
    </div>
    <div class="col-md-4 offset-md-4 bg-content-mid text-center">
      <img class="size" src="assets/images/nico.jpg" />
    </div>
    <div class="col-md-4 offset-md-4 bg-content-mid text-center pb-3">
      <h5>Data urodzenia: {{prisoner.DateOfBirth}}</h5>
      <h5>Data rejestracji: {{prisoner.JoinDate}}</h5>
      <h6 class="my-3">Więzień osadzony jest w sali {{prisoner.CellId}}, sprawowanie dobre, srednia ocena...</h6>
      <div class="row py-1 no-gutters ">
        <div class="col-md-6 pr-1">
          <button mat-button class="btn btn-block text-white submit py-1">Edytuj</button>
        </div>
        <div class="col-md-6 pl-1">
          <button mat-button [routerLink]="'/prisoners'" class="btn btn-block text-white submit py-1">Wróć</button>
        </div>       
      </div>
    </div>
  </div>
</div>
