<app-site-header [childMessage]="headerOfSite"></app-site-header>

<div *ngFor="let info of news">
    <article class="post">
        <header>
            <h2 class="post_title">{{info.title}}</h2>
        </header>
        <img class="post_img" src="http://localhost:8000/news/{{info.image}}">
        <p class="post_text">
            {{info.text}}
        </p>
        <footer class="post_date">
            <i>Dodany przez {{info.worker.user.username}}, {{info.dateAdded | getDate:'fullDate'}}</i>
        </footer>
    </article>
</div>
