<app-site-header [childMessage]="headerOfSite"></app-site-header>
<div *ngFor="let prisoner of prisoners">
  <article class="post">
    <header>
      <h2 class="post_title">{{prisoner.firstName}} {{prisoner.lastName}}</h2>
    </header>
    <img class="post_img" src="assets/images/nico.jpg">
    <div class="post_text">
      <p>Data urodzenia: {{prisoner.dateOfBirth}}</p>
      <p>Data rejestracji: {{prisoner.joinDate}}{{prisoner.id}}</p>
      <p>Opis:</p>
      <p *ngIf="prisoner.cell">Więzień osadzony jest w celi {{prisoner.cell.id}}, sprawowanie dobre, srednia ocena...</p>
      <p *ngIf="!prisoner.cell">Więzień nie został osadzony w celi</p>
    </div>
    <footer class="post_date">
      <button mat-button>Oceń</button>
      <button mat-button [routerLink]="['/prisoners/', prisoner.id]">Szczegóły</button>
    </footer>
  </article>
</div>
