<header>
    <app-site-header [childMessage]="headerOfSite"></app-site-header>
</header>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4 mt-5">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" #loginInput (keyup)="writtenLogin(loginInput.value)" placeholder="Login" required>
            </div>
            <div class="form-group">
              <input class="form-control form-control-lg" type="password" #passwordInput (keyup)="writtenPassword(passwordInput.value)" placeholder="Hasło" required>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-lg text-white submit" (click)="submit()">Zaloguj się</button>
                <div class="error mt-3" *ngIf="anyErrors">Wystąpił błąd, przepraszamy za utrudnienia.</div>
                <div class="success mt-3" *ngIf="finished">Rejestracja zakończona powodzeniem, dziękujemy.</div>
            </div>
        </div>
    </div>
</div>