dl.menu {
    background-color: rgb(40, 56, 71);
    list-style-type: none;
    overflow: hidden;
}

dt.menu a {
    text-align: center;
    display: block;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}

dt.menu a:hover:not(.active) {
    background-color:rgb(5, 5, 5);
}

dt{
    padding:2%;
}
