<header class="bg-menu-dark text-center py-2">
  <h2 class="mb-1">Menu</h2>
</header>

<div class="d-flex flex-column align-items-stretch bg-menu-light">
  <div class="m-1">
    <a class="menu-item py-2" [routerLink]="'/login'">Zaloguj</a>
  </div>
  <div class="m-1">
    <a class="menu-item py-2" [routerLink]="'/'">Strona główna</a>
  </div>
  <div class="m-1">
    <a class="menu-item py-2" [routerLink]="'/'">Aktualności</a>
  </div>
  <div class="m-1">
    <a class="menu-item py-2" [routerLink]="'/'">Odwiedziny</a>
  </div>
  <div class="m-1">
    <a class="menu-item py-2" [routerLink]="'/'">Lista zadań</a>
  </div>
  <div class="m-1">
    <a class="menu-item py-2" [routerLink]="'/prisoners'">Więźniowie</a>
  </div>
</div>
