.menu-item {
    color: white;
    font-size: 17px;
    font-weight: 600;
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    background: linear-gradient(to right, rgba(32,47,62,1) 0%,rgba(0,0,0,0) 100%);
    transition: background 1s ease;
}

.menu-item:hover {
  background: rgba(32,47,62,1);
}
