<app-site-header [childMessage]="headerOfSite"></app-site-header>
<div class="container-fluid">
  <div class="row my-4">
    <div class="col-md-8 offset-md-2 bg-content-mid text-center pb-3">
      <div class="dropdown button-section">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sortuj według
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="sortByDateUp()">Data rosnąco</a>
          <a class="dropdown-item" (click)="sortByDateDown()">Data malejąco</a>
          <a class="dropdown-item" (click)="sortByPrisonerAZ()">Nazwisko więźnia A-Z</a>
          <a class="dropdown-item" (click)="sortByPrisonerZA()">Nazwisko więźnia Z-A</a>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Kiedy</th>
            <th scope="col">Więzień</th>
            <th scope="col">Ostatnie życzenie</th>
            <th scope="col">Wystawione przez</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let execution of executions">
            <th scope="row">{{execution.executionDate.substring(0,16).replace("T", " ")}}</th>
            <td>{{execution.prisoner.firstName}} {{execution.prisoner.lastName}}</td>
            <td>{{execution.lastWish}}</td>
            <td>{{execution.worker.user.firstName}} {{execution.worker.user.lastName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
